<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename = 'icofile.ico')}}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <audio src="{{url_for('static',filename='bell.mp3')}}" id="playmusic" filename="bell.mp3"
        type="audio/mpeg">audio</audio>
    <audio src="{{url_for('static',filename='insight.mp3')}}" id="playmusic_insight" filename="insight.mp3"
        type="audio/mpeg">audio</audio>

    <style>
        body {
            background-color: #DADED4;
        }

        .v0 {
            margin-left: 1px;
            /* visibility: hidden; */
        }

        .vl {
            margin-left: 50px;
            /* visibility: hidden; */
        }

        .v2 {
            margin-left: 200px;
            /* visibility: hidden; */
        }

        .v3 {
            margin-left: 200px;
        }
    </style>
</head>

<body>




        <div class="v0" style="float: left;">
            <div id="table-div"></div>
        </div>



    <script>

        var eventSource = new EventSource("/listen_bearish")

        eventSource.addEventListener("online", function (e) {
            // console.log((e.data));
            let data = e.data
            let obj = JSON.parse(data)
            // console.log(obj)

            let tableDiv = document.getElementById("table-div");

            let tableRows = "";
            Object.keys(obj).map(key => {
                tableRows += `
        <tr>
          <td><a class="link"  href="${obj[key]}" target="_blank">${key}</a></td>
        </tr>
      `
            })

            tableDiv.innerHTML = `
      <table>
        ${tableRows}
      </table>`

        }, true)
///////////////////////////////////////////////////////////////////////////////////////////////////////

    </script>

</body>

</html>